.admin {
  width: 100%;
}
.admin .update {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.781);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  z-index: 120;
  width: 50%;
}
.admin .update form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.admin .update form input {
  height: 25px;
  padding: 4px;
}
.admin .update form button {
  width: 100px;
  margin: auto;
  background-color: var(--my-color);
}
.admin .confirm {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.781);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  z-index: 120;
  width: 50%;
}
.admin .confirm .btns {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 25px;
}
.admin .confirm .btns button {
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  color: white;
}
.admin .confirm .btns .yes {
  background-color: red;
}
.admin .confirm .btns .no {
  background-color: green;
}
.admin .shape {
  transform: skew(-36deg, 55deg);
  background-color: #f3f3f3;
  z-index: -1;
  position: absolute;
  right: -100px;
  width: 500px;
  height: 300px;
  top: -80px;
}
.admin .container {
  padding: 10px;
}
.admin .container .admin-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin .container .admin-head a {
  background-color: var(--my-color);
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}
.admin .container .admin-head img {
  border-radius: 10px;
}
.admin .container h2 {
  text-align: center;
}
.admin .container h3 {
  text-align: right;
}
.admin .container form {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.admin .container form .sub-div {
  width: 100%;
  text-align: center;
}
.admin .container form button {
  background-color: var(--my-color);
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  font-size: 20px;
}
.admin .container form label {
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  direction: rtl;
}
.admin .container form label input {
  padding: 10px;
  background-color: rgb(225, 233, 233);
  border: none;
}
.admin .container .all-orgs {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.admin .container .all-orgs .org {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background-color: var(--gray);
  width: 20%;
  border-radius: 10px;
  overflow: hidden;
  padding: 4px;
}
.admin .container .all-orgs .org .btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.admin .container .all-orgs .org .btns .pass {
  background-color: black;
}
.admin .container .all-orgs .org .delete {
  background-color: red;
}
.admin .container .all-orgs .org .active {
  background-color: rgb(27, 212, 27);
}
.admin .container .all-orgs .org .stop {
  background-color: rgb(228, 205, 0);
}
.admin .container .all-orgs .org img {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 120px;
}/*# sourceMappingURL=admin.css.map */